---
layout: layout.liquid
title: Polaroid Cloud

sections:
- className: hero
  headingLevel: h2
  headingText: Film to Phone
  contents: 

- className: details
  headingLevel: h3
  headingText: Any cloud, any time
  contents: hi 
---

<header>
    <h1>Polaroid Cloud</h1>
</header>

{% for section in sections %}
  {% include "section-layout.liquid" %}
{% endfor %}

