<section class="cta">
  <h3>{{ sections.cta.title }}</h3>
  <form action="#">
    <input type="text" placeholder="{{ sections.cta.form.placeholder }}">
    <input type="button" value="{{ sections.cta.form.buttonText }}">
  </form>
</section>